.proposal {
    width: 300px;
    border: 1px solid black;
    border-radius: 8px 8px 0 0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.title {
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
}

.state-0 {
    color: gray;
}

.state-1 {
    color: green;
}

.state-2 {
    color: red;
}
